# Scraper
START_URL=https://auto.ria.com/uk/car/used/
SCRAPE_TIME=12:00
DUMP_TIME=12:00
CONCURRENT_REQUESTS=30
BATCH_SIZE=10

# Database
DB_HOST=your_db_host
DB_PORT=5432
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DATABASE_URL=postgresql://your_db_user:your_db_password@your_db_host:5432/your_db_name